/* BEGIN UNIVERSAL STYLES */
body {
  overflow-x: hidden; }

main {
  height: 100vh;
  float: left;
  position: relative;
  overflow: hidden; }

section {
  height: 100vh;
  float: left;
  position: relative;
  overflow: hidden; }

embed {
  height: 100vh;
  width: 100vw; }

object {
  height: 100vh;
  width: 100vw; }

.copy-container {
  background-color: rgba(229, 229, 229, 0);
  z-index: 1; }

h1 {
  font-family: gotham;
  font-weight: 900;
  color: black;
  font-size: 36px;
  text-transform: uppercase; }

h2 {
  font-family: gotham;
  font-weight: 900;
  color: #333033;
  font-size: 36px;
  line-height: 34px; }

h3 {
  font-family: macklin;
  font-weight: 900;
  color: #333033;
  font-style: italic; }

h4 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

h5 {
  font-family: gotham;
  font-weight: 900;
  color: #333033; }

p {
  font-family: gotham;
  font-size: 14px; }

#left-align {
  text-align: left !important; }

.green-underline {
  border-bottom: 6px solid #C2D500; }

.turquoise-underline {
  border-bottom: 6px solid #00AC98; }

.orange-underline {
  border-bottom: 6px solid #F26524; }

.green-giant {
  font-size: 55px;
  line-height: 50px;
  border-bottom: 12px solid #C2D500; }

.turquoise-giant {
  font-size: 55px;
  line-height: 50px;
  border-bottom: 12px solid #00AC98; }

.orange-giant {
  font-size: 55px;
  line-height: 50px;
  border-bottom: 12px solid #F26524; }

.link-green {
  padding: 10px;
  background-color: #C2D500;
  color: white;
  text-decoration: none;
  float: left;
  text-align: center;
  margin-top: 2vh; }

.link-turquoise {
  padding: 10px;
  background-color: #00AC98;
  color: white;
  text-decoration: none;
  float: left;
  text-align: center;
  margin-top: 2vh; }

.link-orange {
  padding: 10px;
  background-color: #F26524;
  color: white;
  text-decoration: none;
  float: left;
  text-align: center;
  margin-top: 2vh; }

.green-bg {
  background-color: #C2D500; }

.turquoise-bg {
  background-color: #00AC98; }

.orange-bg {
  background-color: #F26524; }

/* SNAP SCROLL */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }

section {
  height: 100vh;
  scroll-snap-align: center; }

/* ENDS SNAP SCROLL */
nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding-top: 20vh;
  z-index: 199;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: none;
  opacity: 0;
  transition: .5s; }

.display-toggle {
  display: block;
  animation-name: fade;
  transition: .5s;
  animation-duration: .25s;
  animation-iteration-count: 1;
  opacity: 1; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-2 {
  from {
    opacity: 0;
    margin-left: -50px; }
  to {
    opacity: 1;
    margin-left: 0; } }
.main-nav {
  list-style: none;
  padding-left: 5vw;
  padding-right: 5vw; }
  .main-nav li {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: gotham;
    letter-spacing: 2px;
    transition: 1s;
    margin-bottom: 7.5vh; }
  .main-nav a {
    color: #333033;
    text-decoration: none; }

.secondary-nav {
  border-top: 2px solid lightgray;
  list-style: none;
  margin-top: 10vh;
  padding-top: 10vh; }
  .secondary-nav li {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family: gotham;
    letter-spacing: 2px;
    transition: 1s;
    margin-bottom: 7.5vh; }
  .secondary-nav a {
    color: #333033;
    text-decoration: none; }

.nav-item-1 {
  animation-name: fade-2;
  animation-duration: .5s; }

.nav-item-2 {
  animation-name: fade-2;
  animation-duration: 1s; }

.nav-item-3 {
  animation-name: fade-2;
  animation-duration: 1.5s; }

.nav-item-4 {
  animation-name: fade-2;
  animation-duration: 2s; }

.nav-item-5 {
  animation-name: fade-2;
  animation-duration: 2.5s; }

#active {
  border-bottom: 2px solid #00AC98; }

/* ENDS UNIVERSAL STYLES */
/* ----------------------------------------------------------------- */
/* BEGINS HEADER */
header {
  padding: 15px;
  float: left;
  z-index: 200;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid lightgray; }
  header div {
    float: left; }
  header img {
    width: 100%;
    float: left; }

/*CLOSES HEADER */
.dropdown-menu-custom {
  margin-left: -10px !important;
  margin-top: 5px; }

.top {
  position: absolute; }

/* ENDS HEADER */
/* ----------------------------------------------------------------- */
/* BEGINS FOOTER */
footer {
  float: left;
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
  z-index: -1;
  /*close ul*/ }
  footer ul {
    list-style: none;
    float: left;
    padding: 0;
    /*close li*/ }
    footer ul li {
      float: left;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px; }
    footer ul a {
      color: #333033;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 2px;
      padding: 0; }
    footer ul img {
      width: 35px;
      height: auto; }

/* CLOSES FOOTER */
/* ENDS FOOTER */
/* ----------------------------------------------------------------- */
/* BEGINS HOME */
#container-1 h1 {
  position: absolute;
  bottom: 10vh;
  z-index: 1;
  color: white; }
#container-1 .video-background {
  position: absolute;
  width: auto;
  height: 100vh;
  z-index: -100; }

#container-2 {
  padding-top: 15vh;
  padding-left: 0;
  padding-right: 0; }
  #container-2 svg {
    position: absolute;
    z-index: 1; }
  #container-2 .svg-v-1 {
    left: 8vw; }
  #container-2 .svg-v-2 {
    right: 8vw; }
  #container-2 .svg-h-1 {
    top: 52vh; }
  #container-2 .svg-h-2 {
    top: 95vh; }
  #container-2 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-2 img {
    padding: 0;
    float: left;
    position: absolute;
    height: 100%;
    width: auto; }
  #container-2 .copy-container {
    padding-top: 5vh;
    padding-bottom: 5vh; }
  #container-2 h2 {
    padding-bottom: 1.5vh; }
  #container-2 a {
    float: left; }
  #container-2 p {
    text-align: justify; }

#container-3 {
  padding: 0; }
  #container-3 svg {
    position: absolute;
    z-index: 1; }
  #container-3 .svg-v-1 {
    left: 8vw; }
  #container-3 .svg-v-2 {
    right: 8vw; }
  #container-3 .svg-h-1 {
    top: 52vh; }
  #container-3 .svg-h-2 {
    top: 95vh; }
  #container-3 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-3 img {
    padding: 0;
    float: left;
    position: absolute;
    height: 100%;
    width: auto; }
  #container-3 .copy-container {
    min-height: 43vh;
    margin-top: -5vh;
    padding-top: 7vh;
    padding-bottom: 4vh; }
  #container-3 h2 {
    padding-bottom: 1.5vh; }

#container-4 {
  padding: 0; }
  #container-4 svg {
    position: absolute;
    z-index: 1; }
  #container-4 .svg-v-1 {
    left: 8vw; }
  #container-4 .svg-v-2 {
    right: 8vw; }
  #container-4 .svg-h-1 {
    top: 52vh; }
  #container-4 .svg-h-2 {
    top: 95vh; }
  #container-4 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-4 img {
    padding: 0;
    float: left;
    position: absolute;
    height: 100%;
    width: auto; }
  #container-4 .copy-container {
    min-height: 43vh;
    margin-top: -5vh;
    padding-top: 7vh;
    padding-bottom: 4vh; }
  #container-4 h2 {
    padding-bottom: 1.5vh; }

/* begins reveal section */
#people {
  height: 125vh !important;
  position: relative; }
  #people h2 {
    margin-bottom: 25px; }
  #people img {
    height: auto;
    position: absolute; }

/* animation */
#people .svg1 {
  position: fixed;
  animation: scale 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  margin: auto;
  width: 300vw; }
@keyframes scale {
  to {
    transform: scale(16000) translateY(1200px); } }
#people .svg2 {
  position: fixed;
  animation: scale2 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.01s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  top: 0;
  bottom: 0;
  left: -100vw;
  right: 0;
  margin: auto;
  width: 300vw; }
@keyframes scale2 {
  to {
    transform: scale(16000) translateY(1200px) translateX(500px); } }
/* CLOSE #PEOPLE */
.zoom {
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.zoom-1 {
  background-image: url("../assets/images/unparalleled-luxe.png"); }
  .zoom-1 h2 {
    color: white !important; }
  .zoom-1 p {
    color: white !important; }

.zoom-2 {
  background-image: url("../assets/images/meticulous.png"); }

.reveal-container {
  margin-top: 15vh; }

.featured-projects {
  padding-top: 15vh;
  float: left; }

/* ends reveal section */
#featured-projects {
  padding-top: 10vh; }
  #featured-projects .container-p {
    padding: 5px;
    float: left !important; }
  #featured-projects .portfolio-list {
    box-shadow: 0px 0px 5px #DBDADA;
    float: left;
    height: 27.5vh; }
    #featured-projects .portfolio-list a {
      text-decoration: none; }
    #featured-projects .portfolio-list img {
      width: 100%; }
    #featured-projects .portfolio-list h3 {
      font-family: gotham;
      color: #333033;
      font-size: 18px;
      padding-left: 15px;
      padding-top: 10px;
      margin: 0;
      font-style: normal; }
    #featured-projects .portfolio-list p {
      font-size: 14px;
      font-family: gotham;
      padding-left: 15px;
      color: #333033;
      padding-bottom: 15px;
      margin: 0; }
  #featured-projects .portfolio-image-container {
    min-height: 82%;
    height: 82% !important;
    overflow: hidden; }
    #featured-projects .portfolio-image-container img {
      width: 100%;
      height: auto; }

/* CLOSE FEATURED PROJECTS */
/* ENDS HOME */
/* ----------------------------------------------------------------- */
/* BEGINS WHO WE ARE */
#who-we-are .animated-container {
  height: 27vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  box-shadow: 0px 0px 5px #DBDADA;
  z-index: 0;
  position: relative; }
#who-we-are .text-reveal {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -50px;
  margin-left: -30px;
  padding: 15px;
  transition: .5s; }
  #who-we-are .text-reveal h3 {
    color: white;
    text-align: center;
    margin-top: 20%; }
#who-we-are .container-p:hover .text-reveal {
  opacity: 1;
  z-index: 1; }
#who-we-are .container-p {
  position: relative;
  padding: 5px;
  float: left !important; }
#who-we-are .featured {
  padding-top: 10vh; }

/* ENDS WHO WE ARE */
/* ----------------------------------------------------------------- */
/* BEGINS WHAT WE DO */
#what-we-do h2 {
  margin-bottom: 0;
  padding-bottom: 0; }
#what-we-do h3 {
  margin-top: 5px; }
#what-we-do .copy-container {
  padding-bottom: 0; }
  #what-we-do .copy-container ul {
    list-style: none;
    padding: 0; }
    #what-we-do .copy-container ul li {
      font-family: gotham;
      margin-top: 10px; }

/* CLOSES WHAT WE DO */
/* ENDS WHAT WE DO */
/* ----------------------------------------------------------------- */
/* BEGINS PORTFOLIO */
/* PORTFOLIO PAGE */
.aside-toggle {
  margin-top: 10vh;
  float: left; }

.aside-display-toggle {
  display: block; }

aside {
  display: none; }

#portfolio section {
  padding-top: 2vh;
  float: left;
  padding-left: 4vw;
  padding-right: 4vw;
  height: auto; }
#portfolio aside {
  padding-top: 15vh !important;
  border-right: 2px solid #f1f1f1;
  height: 100vh;
  float: left; }
  #portfolio aside h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: gotham;
    margin-bottom: 55px; }
  #portfolio aside h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    font-family: gotham; }
  #portfolio aside a {
    margin: 0;
    float: left;
    padding: 10px;
    font-family: gotham;
    text-transform: uppercase;
    background-color: #f1f1f1;
    width: 50%;
    text-align: center;
    color: grey;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 55px; }
  #portfolio aside #portfolio-active {
    background-color: #00AC98;
    color: white; }
  #portfolio aside a:hover {
    color: grey; }
  #portfolio aside label {
    margin-left: 15px; }
  #portfolio aside .update {
    width: 100%;
    margin-top: 55px;
    background-color: #F26524;
    color: white; }
  #portfolio aside .update:hover {
    color: white; }
#portfolio .container-p {
  padding: 5px;
  float: left !important; }
#portfolio .portfolio-list {
  box-shadow: 0px 0px 5px #DBDADA;
  float: left;
  height: 25vh; }
  #portfolio .portfolio-list a {
    text-decoration: none; }
  #portfolio .portfolio-list img {
    width: 100%; }
  #portfolio .portfolio-list h3 {
    font-family: gotham;
    color: #333033;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0;
    font-style: normal; }
  #portfolio .portfolio-list p {
    font-size: 14px;
    font-family: gotham;
    padding-left: 15px;
    color: #333033;
    padding-bottom: 15px;
    margin: 0; }
#portfolio .portfolio-image-container {
  min-height: 55%;
  height: 55% !important;
  overflow: hidden; }
  #portfolio .portfolio-image-container img {
    width: 100%;
    height: auto; }

/* CLOSE PORTFOLIO */
/* ENDS PORTFOLIO */
/* ----------------------------------------------------------------- */
/* BEGINS 768PX MEDIA QUERY */
@media (min-width: 768px) {
  /* BEGINS HEADER 768 */
  .dropdown-menu-custom {
    padding-top: 5px;
    max-width: 35px;
    height: auto; }

  /* ENDS HEADER 768 */
  /* ----------------------------------------------------------------- */
  #container-2 .image-container {
    position: relative;
    margin-top: 7vh;
    overflow: hidden;
    height: 50vh;
    padding: 0; }
  #container-2 img {
    padding: 0;
    float: left;
    position: absolute;
    height: auto !important;
    width: 100% !important; } }
/* !!CLOSES 768PX @MEDIA QUERY!! */
/* ----------------------------------------------------------------- */
@media (min-width: 1024px) {
  #nav {
    display: block;
    z-index: 300;
    position: fixed;
    opacity: 1;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    padding-top: 0; }

  .main-nav {
    list-style: none;
    padding-left: 1vw;
    padding-right: 1vw;
    float: left; }
    .main-nav li {
      text-align: center;
      padding-top: 12.5px;
      padding-left: 1vw;
      padding-right: 1vw;
      font-family: gotham;
      letter-spacing: 2px;
      transition: 0s;
      margin-bottom: 0vh;
      float: left;
      font-size: 13px; }
    .main-nav a {
      color: #333033;
      text-decoration: none; }

  .secondary-nav {
    border-top: none;
    list-style: none;
    margin-top: 0vh;
    padding-top: 12.5px;
    float: left; }
    .secondary-nav li {
      text-align: center;
      padding-top: 12.5px;
      padding-left: 1vw;
      padding-right: 1vw;
      font-family: gotham;
      letter-spacing: 2px;
      transition: 0s;
      margin-bottom: 0vh;
      float: left;
      font-size: 13px; }
    .secondary-nav a {
      color: #333033;
      text-decoration: none; }

  li:hover {
    border-top: 5px solid #F26524;
    padding-top: 7.5px; }

  .nav-item-1 {
    animation-name: none; }

  .nav-item-2 {
    animation-name: none; }

  .nav-item-3 {
    animation-name: none; }

  .nav-item-4 {
    animation-name: none; }

  .nav-item-5 {
    animation-name: none; }

  #active {
    border-top: 5px solid #00AC98;
    border-bottom: 0; } }
/* !!CLOSES 1024PX @MEDIA QUERY!! */
/* ----------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
